body {
    margin: 0;
    padding: 0;
    font-family: 'Roboto', sans-serif;
}

/* Header */
header {
    background-color: black;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 20px 20px 0 20px;
    height: 80px;
}

header img {
    height: 50px;
}

.logo {
    width: 50%;
    height: auto;
}

.menu {
    width: 30px;
    height: auto;
    filter: invert(1);
}

/* Hero call */
.hero-call {
    background-color: black;
    color: white;
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 0 20px 20px 20px;
}

.top-hero-call-container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 100%;
}

.hero-call img {
    width: 100%;
    height: auto;
    box-shadow: inset 0 0 5px rgba(0, 0, 0, 0.5); /* Add a 5px blurred border effect */
}

.hero-call h1 {
    font-family: 'bakbak one', sans-serif;
    font-size: 1.5rem;
    color: white;
}

.hero-call .hero-sub-text {
    font-size: 0.8rem;
    color: grey;
    text-align: center;
}

.portrait {
    width: 100%;
}

.hero-text {
    padding-top: 10px;
    text-align: center;
}

.highlight {
    color: yellow;
}

.hero-call button {
    background-color: orange;
    color: white;
    padding: 10px 20px;
    border: none;
    border-radius: 31.5rem;
    margin: 20px 0;
    width: 50%;
    text-decoration: none;
}

.contact-button {
    background-color: transparent;
    font-size: 1rem;
    font-weight: bold;
    color: white;
    text-decoration: none;
}
.hero-call button:hover {
    cursor: pointer;
}

/* Main */
main {
    margin-bottom: 25px;
}

.section-divisor-1 {
    padding: 20px;
    background-color: #f3f3f3;
    height: 60px;
}

.section-divisor-1-container {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    flex-wrap: wrap;
}

.section-divisor-1-container img {
    width: 40px;
    height: auto;
}

/* Project section */
.project-section {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 10px 20px;
}

.project {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-bottom: 35px;
    opacity: 0;
    transform: translateY(50px);
    transition: opacity 0.5s ease-out, transform 0.5s ease-out;
}

.project.show {
    opacity: 1;
    transform: translateY(0);
}

.project img {
    width: 80%;
    height: auto;
}

.project h3 {
    margin-top: 20px;
}

.project p {
    font-size: 1.2rem;
    margin-top: 10px;
}

.more-button {
    background-color: transparent;
    font-size: 1rem;
    font-weight: bold;
    text-decoration: none;
    color: black;
    border: solid 1px black;
    padding: 10px 20px;
    border-radius: 31.25rem;
}

.more-button:hover {
    background-color: #ececec;
    border: none;
}