body {
    margin: 0;
    padding: 0;
    font-family: 'Roboto', sans-serif;
}

/* Header */
header {
    background-color: black;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 20px 20px 0 20px;
    height: 80px;
}


.logo {
    max-width: 40%;
    height: auto;
}

.menu {
    min-width: 30px;
    height: auto;
    filter: invert(1);
    padding: 12px;
}

.menu:hover {
    cursor: pointer;
    background-color: #F0DB4F;
}

/* Nav */

.dropdown-menu {
    display: none;
    margin: 0;
    position: absolute;
    z-index: 5;
    padding: 20px 0 20px 50px;
    width: 100%;
    background-color: black;
    opacity: 0;
    transform: translateY(-10px);
    transition: opacity 2s, transform 3s;
}

.dropdown-menu-big-screen {
    display: none;
}

.dropdown-menu.show {
    display: block;
    opacity: 1;
    transform: translateY(0);
}

.dropdown-menu li {
    list-style: none;
    margin-bottom: 15px;
}

.dropdown-menu li a {
    color: white;
    text-decoration: none;
    font-family: 'roboto', sans-serif;
    font-size: 1.2rem;
    font-weight: bold;
}

.dropdown-menu li a:hover {
    color: orange;
    transform: scale(1.1);
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.2);
}

@media screen and (min-width: 700px) {
    .dropdown-menu-big-screen {
        display: flex;
        flex-direction: row;
        justify-content: flex-end;
        align-items: center;
        padding: 0;
        width: 100%;
        background-color: transparent;
        opacity: 1;
        transform: translateY(0);
        gap: 30px;
        height: auto;
    }

    .dropdown-menu-big-screen li {
        margin: 0;
    }

    .dropdown-menu-big-screen li a {
        color: white;
        text-decoration: none;
        font-family: 'roboto', sans-serif;
        font-size: 1.2rem;
        font-weight: bold;
    }

    .dropdown-menu-big-screen li a:hover {
        color: orange;
        transform: scale(1.1);
        box-shadow: 0 0 10px rgba(0, 0, 0, 0.2);
    }

    .menu {
        display: none;
    }
}

/* Hero call */
.hero-call {
    background-color: black;
    color: white;
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 0 20px 20px 20px;
}

.top-hero-call-container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 100%;
}

.hero-call img {
    width: 100%;
    height: auto;
    box-shadow: inset 0 0 5px rgba(0, 0, 0, 0.5); /* Add a 5px blurred border effect */
}

.hero-call h1 {
    font-family: 'bakbak one', sans-serif;
    font-size: 1.5rem;
    color: white;
}

.hero-call .hero-sub-text {
    font-size: 0.8rem;
    color: grey;
    text-align: center;
}

.portrait {
    width: 100%;
}

.hero-text {
    padding-top: 10px;
    text-align: center;
}

.highlight {
    color: yellow;
}

.hero-call button {
    background-color: orange;
    color: white;
    padding: 10px 20px;
    border: none;
    border-radius: 31.5rem;
    margin: 20px 0;
    width: 50%;
    text-decoration: none;
}

.contact-button {
    background-color: transparent;
    font-size: 1rem;
    font-weight: bold;
    color: white;
    text-decoration: none;
}
.hero-call button:hover {
    cursor: pointer;
    transform: scale(1.1);
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.2);
}

@media screen and (min-width: 700px) {
    .top-hero-call-container {
        flex-direction: row;
        justify-content: space-between;
        align-items: center;
        width: 100%;
    }

    .portrait {
        margin: 40px 0 50px 50px;
    }

    .hero-text {
        width: 60%;
        margin: 40px 50px 50px 0;
    }

    .hero-text h1 {
        font-size: 4vw;
    }
}
    

/* Main */
main {
    margin-bottom: 25px;
}

.section-divisor-1 {
    padding: 20px;
    background-color: #f3f3f3;
    display: flex;
    flex-direction: column;
    gap: 20px;
}

.section-divisor-1-container {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    flex-wrap: wrap;
    padding: 10px;
}

.section-divisor-1-container img {
    width: 40px;
    height: auto;
}

.stack-info {
    text-align: center;
}

.rails {
    color: rgb(241, 15, 15);
    font-weight: bold;
    background-color: black;
}

.javascript {
    color: #F0DB4F;
    font-weight: bold;
    background-color: black;
}

/* Project section */
.project-section {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 10px 20px;
}

.project {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-bottom: 35px;
    opacity: 0;
    transform: translateY(50px);
    transition: opacity 0.5s ease-out, transform 0.5s ease-out;
}

.project.show {
    opacity: 1;
    transform: translateY(0);
}

.project img {
    width: 80%;
    height: auto;
}

.project h3 {
    margin-top: 20px;
}

.project p {
    font-size: 1.2rem;
    margin-top: 10px;
}

.more-button {
    background-color: transparent;
    font-size: 1rem;
    font-weight: bold;
    text-decoration: none;
    color: black;
    border: solid 1px black;
    padding: 10px 20px;
    border-radius: 31.25rem;
}

.more-button:hover {
    background-color: #ececec;
    border: none;
}

/* Contact me section */
.contact-me {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 10px 20px;
    background-color: black;
}

.contact-me h2 {
    margin-bottom: 20px;
    color: white;
}   

.contact-me p {
    font-size: 1.2rem;
    margin-bottom: 20px;
}

.contact-me button {
    background-color: orange;
    color: white;
    padding: 10px 20px;
    border: none;
    border-radius: 31.5rem;
    margin: 20px 0;
    width: 50%;
    text-decoration: none;
    font-size: 1rem;
    font-weight: bold;
}

.contact-me button:hover {
    cursor: pointer;
    transform: scale(1.1);
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.2);
}

/* Footer */

footer {
    background-color: black;
    color: white;
    padding: 20px;
    text-align: center;
}

footer a {
    color: white;
    text-decoration: none;
}

footer a:hover {
    color: orange;
}


